* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    background-color: darkseagreen;
}

.game_container {
    margin-top: 200px;
    height: 600px;
    width: 600px;
    margin-left: 30%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.col {
    float: left;
    width: 32.9%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-size: cover;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    height: 33%;
}